{% extends 'base.html' %}
{% load static %}



{% block content %}

<h1 style="color: deeppink;">Profile List</h1>
<br/>
{% if profiles %}

    {% for profile in profiles %}

  

<div class="card mb-3" style="width: 500px; height:150px ; border-radius: 500px;">
   <div class="row g-0">
     <div class="col-md-4">
      {% if profile.profile_image %}
      <img src="{{ profile.profile_image.url }}" width=150 height=150 class="rounded-circle">
      {% else %}
  <img src="{% static 'images/profile.jpg' %}" width=150 height=150 class="rounded-circle">	
      {% endif %}
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
         <p class="card-text"><a style="text-decoration-line: none; color: deeppink;" s href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}</a></p>
         <br/>
         <p class="card-text"><small class="text-body-secondary">Last Modified: {{ profile.date_modified }}</small></p>
       </div>
     </div>
   </div>
 </div>

       

    {% endfor %}

{% endif %}

{% endblock %}
